
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kanit", sans-serif;
  background-color: rgb(34, 40, 49);
  color: white;
  line-height: 1.6;
}

ul {
  list-style: none;
}


header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  background-color: rgb(49, 54, 63);
}

footer {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  background-color: rgb(49, 54, 63);
  position: relative;
}

h1 {
  margin: 1em 0;
}

h2 {
  margin: 1em 0;
}

ul {
  margin: 1em 0;
}

#intro {
  margin-top: 1em;
  font-size: 6rem;
  text-align: left;
  margin-bottom: 0;

}

.subtitle {
  font-size: 2.5rem;
  text-align: left;
  color:rgb(255, 255, 255);
  width: 100%
}

.subtitle-main {
  padding-left: 3em;
  margin-top: 0;
}

/* Media query for screens smaller than 1024px */
@media (max-width: 1024px) {
  #intro {
    font-size: 4.5rem; /* Adjust font size */
  }

  .subtitle {
    font-size: 2rem; /* Adjust font size */
  }

  .subtitle-main {
    padding-left: 2em; /* Adjust padding */
  }
  
}

/* Media query for screens smaller than 912px */
@media (max-width: 912px) {
  header, footer {
    width: 107vw;
  }
}

/* Media query for screens smaller than 853px */
@media (max-width: 853px) {
  header, footer {
    width: 115vw;
  }
}

/* Media query for screens smaller than 820px */
@media (max-width: 820px) {
  header, footer {
    width: 120vw;
  }
}


/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  #intro {
    font-size: 3.5rem; /* Adjust font size */
  }

  .subtitle {
    font-size: 1.8rem; /* Adjust font size */
  }

  .subtitle-main {
    padding-left: 1.5em; /* Adjust padding */
  }

}

/* Media query for screens smaller than 480px */
@media (max-width: 480px) {
  #intro {
    font-size: 2.5rem; /* Adjust font size */
    text-align: center; /* Center text for small screens */
  }

  .subtitle {
    font-size: 1.5rem; /* Adjust font size */
    text-align: center; /* Center text for small screens */
  }

  .subtitle-main {
    padding-left: 0;
  }


}

/* Media query for screens smaller than 390px */
@media (max-width: 400px) {
  .subtitle-main {
    padding-right: 4rem;
  }
}




#alternating-text {
  color: rgba(234, 79, 79);
  margin-right: 0.5em;
  margin-left: 0.5em;
}


.section-heading {
  padding-left: 5rem;
  margin-bottom: 1em;
  display: inline-flex;
}


/* nav bar styling */

nav ul {
  margin: 0 1em;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  text-align: left;
  list-style-type: none;
  font-size: 1.3rem;
}

nav ul li {
  margin: 0 1em;
  font-size: 1rem;
}

/* Nav button styling */

.nav-btn {
  background-color: transparent;
  color: white;
  padding: 5px 15px;
  text-align: center;
  font-family: "Kanit", sans-serif;
  text-decoration: none;
  border-radius: 10%;
  border: 2px solid white;
  border-radius: 20%/50%;
  
}

.nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

nav {
  display: flex;
  align-content: flex-start;
}







/* App styling */

.app {
  display: flex;
  flex-direction: column;
  /* align-items: center; Centers children horizontally */
  justify-content: center; /* Centers children vertically */
  width: 100%;
  box-sizing: border-box; /* Ensures padding and border are included in width/height */
}

/* Container styling */

.row-container {
  display: flex;
  flex-direction: row; /* Arrange items in a row */
  height: auto;
  flex-wrap: wrap; /* Allow wrapping to the next line if needed */
  margin-bottom: 8em; 
  margin-left: 5rem;
  margin-right: 5rem;
  gap: 30px; /* Small gap between items */

}

/* pdf styling */

.pdf-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.pdf-doc {
  width: 1100px;
  height: 1000px;
  border: 3px solid gray;
}



/* TODO: combine login and create post styling (very similar)

/* login stlying */


input {
  display: flex;
  margin-bottom: 5px;
  height: 50px;
  width: 200px;
  padding: 10px 14px;
  border: 0.5px solid white;
  background-color: rgb(49, 54, 63);
  color: white; 
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  height: 100vh;
  line-height: 1.4rem;
}

.login-container button {
  width: 100%;
  height: 40px;
  display: flex;
  background-color: lightskyblue;
  border: 0;
  align-items: center;
  justify-content: center;
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.login-container button:hover {
  background-color: deepskyblue; 
}

.login-container button:active {
  background-color: dodgerblue; 
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); 
}

/* footer button styling */

footer {
  display: flex;
  justify-content: center;
}

footer a {
  cursor: pointer; 
  color: rgb(128, 144, 167);
}

footer Link {
  color: rgb(128, 144, 167);
}

/* create post stlying */


input {
  display: flex;
  margin-bottom: 5px;
  height: 50px;
  width: 100%;
  text-align: center;
  padding: 10px 14px;
  border: 0.5px solid white;
  background-color: rgb(49, 54, 63);
  color: white;
}

#file {
  padding-left: 30%;
}

.create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  height: 100vh;
  line-height: 1.4rem;
}


.create-container button {
  width: 100%;
  height: 40px;
  display: flex;
  background-color: lightskyblue;
  border: 0;
  align-items: center;
  justify-content: center;
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.create-container button:hover {
  background-color: deepskyblue; 
}

.create-container button:active {
  background-color: dodgerblue; 
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); 
}

/* post styling */

.post {
  display: flex;
  justify-content: center; /* Centers children vertically */
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box; /* Ensures padding and border are included in width/height */
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  line-height: 1.4rem;
  width: 100%;
}


.post-container #title {
  display: flex;
  flex-direction: row; /* Arrange items in a row */
  margin-bottom: 1em;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.post-container img {
  display: flex;
  max-height: 400px;
  max-width: 1000px;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
}

#post-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.75em 2em;
  position: relative;
}

.edit-btn{
  color: white;
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  margin-bottom: 1em;
  border-radius: 10%;
  border: 2px solid lightgray;
  border-radius: 20%/50%;
}

.edit-btn:hover{
  background-color: skyblue;
}

#delete:hover {
  background-color: lightcoral;
}

a svg {
  height: 20px;
}

.buttons {
  display: inline-flex;
  gap: 10px;
}

  



















  




































